@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3b82f6;
  --primary-dark: #2563eb;
}

body {
  font-family: "Inter", system-ui, -apple-system, sans-serif;
}

.ql-editor {
  min-height: 200px;
}
